VITE_PRIVY_APP_ID=your-privy-app-id
VITE_SOLANA_RPC_URL="https://your-mainnet-rpc-endpoint"
VITE_SOLANA_USDC_MINT="EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
DATABASE_URL="postgres://USER:PASSWORD@db.prisma.io:5432/postgres?sslmode=require"
DIRECT_URL="postgres://USER:PASSWORD@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DIRECT_TCP_URL="postgres://USER:PASSWORD@db.prisma.io:5432/postgres?sslmode=require"
